<% if (signupMessage) { %>
    <div><%= signupMessage %></div>
<%}%>
<form action="/signup" method="POST">
    <input type="email" name="email" placeholder="Inserta el email">
    <input type="password" name="password" placeholder="Inserte password">
    <button type="submit">Registrate</button>
</form>